<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <link rel="stylesheet" href="/css/registerstyle.css">
</head>
<body>
<div class="container">

    <h2>Admins</h2>

        <div class="links">
        <p><a href="/orders">Show All Orders</a></p>
        <p><a href="/products">Show All Products</a></p>
        <p><a href="/users">Show All Users</a></p>
    </div>

    <!-- Logout Button -->
    <div class="logout-button">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

</div><!--End of container-->
</body>
</html>