<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
</head>
<body>
<div class="container">

    <h2>Admins</h2>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <div class="links">
        <p><a href="/products">Back to Website</a></p>
        <p><a href="/products">Show all Products</a></p>
        <p><a href="/users">Show all Users</a></p>
    </div>

    <!-- Logout Button -->
    <div class="logout-button">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div><!--End of container-->
</body>
</html>