<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <link rel="stylesheet" href="/css/productsstyle.css">
</head>

<body>

<h1>Ett gäng produkter: </h1>

    <table>
        <thead>
        <tr>
            <th>produkt ID</th>
            <th>produktnamn</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price} + ' kr'"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>