<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <link rel="stylesheet" href="/css/productsstyle.css">
</head>

<body>

    <h1>Our Products:</h1>
    <a href="/admin">Admin page</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price} + ' kr'"></td>
            <td>
                <form method="get" action="/editproduct">
                    <input type="hidden" name="productid" th:value="${product.id}" /> <!-- Hidden input to pass user ID -->
                    <button type="submit">Edit Product</button> <!-- Edit button -->
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Logout Button - Behöver placeras bättre!-->
    <div class="logout-button">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

</body>
</html>