<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/registerstyle.css">
</head>

<body>

<div class="container">

    <h1>Register</h1>

    <form th:action="@{/register}" th:object="${customer}" method="post">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p><br/>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p><br/>

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p><br/>

        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" required>
        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p><br/>

        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p><br/>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p><br/>

        <button type="submit">Register</button>
    </form>

    <div th:if="${registrationSuccess}">
        <p>Registration successful! Please log in</p>
    </div>

    <div th:if="${errorMessage}">
        <p  th:text="${errorMessage}"></p>
    </div>

    <div class="register-link">
        <p>Already registered? <a href="/login">Login here</a>.</p>
    </div>

</div>
</body>
</html>