<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping basket</title>
    <link rel="stylesheet" href="/css/productsstyle.css">
</head>

<body>

<div class="orderhistory">
    <form action="/orderhistory" method="post">
        <button type="submit">order history</button>
    </form>
</div>

<div class="webshop">
    <form action="/webshop" method="post">
        <button type="submit">continue shopping</button>
    </form>
</div>

<h1>your shoppingbasket:</h1>

<div th:if="${#lists.isEmpty(shoppingbasket)}">
    <p>nothing to see here</p>
</div>

<div th:if="${not #lists.isEmpty(shoppingbasket)}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${shoppingbasket.items}">
            <form th:action="@{/updateQuantity}" method="post">
            <td th:text="${item.productId}"></td>
            <td th:text="${item.productName}"></td>
            <td th:text="${item.unitPrice}"></td>
            <td>
                <input type="number" name="quantity" th:value="${item.quantity}" min="1">
                <input type="hidden" name="productId" th:value="${item.productId}">

            </td>
            <td><button type="submit">Update</button>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>
