<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <link rel="stylesheet" href="/css/productsstyle.css">
    <div class="orderhistory">
        <form action="/orderhistory" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</head>

<body>

<h1>Our Products:</h1>

<form method="post" action="/webshop">
    <button type="submit" name="category" value="all">All products</button>
    <button type="submit" name="category" value="putter">Show putters</button>
    <button type="submit" name="category" value="midrange">Show Midrange discs</button>
    <button type="submit" name="category" value="distance_driver">Show Distance drivers</button>
</form>

<form th:action="@{/search}" method="get">
    <input type="text" name="query" placeholder="Search products..."/>
    <button type="submit">Search</button>
</form>

<!--fritext-sök, orderhistorik-->
<div th:if="${not #lists.isEmpty(searchResults)}">
    <h2>Search Results:</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${searchResults}">
            <td th:text="${result.getId()}"></td>
            <td th:text="${result.getName()}"></td>
            <td th:text="${result.getCategory()}"></td>
            <td th:text="${result.getDescription()}"></td>
            <td th:text="${result.getPrice()} + ' kr'"></td>
            <td>
                <input type="number" id="quantitys" name="quantitys" value="1" min="1">
            </td>
            <td>
                <form th:action="@{/addtocart}" method="post">
                    <input type="hidden" name="productId" th:value="${p.getId()}">
                    <input type="hidden" name="productName" th:value="${p.getName()}">
                    <input type="hidden" name="productPrice" th:value="${p.getPrice()}">
                    <input type="hidden" name="productQuantity" th:value="${quantity}">
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(searchResults)}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.getId()}"></td>
            <td th:text="${p.getName()}"></td>
            <td th:text="${p.getCategory()}"></td>
            <td th:text="${p.getDescription()}"></td>
            <td th:text="${p.getPrice()} + ' kr'"></td>
            <td>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
            </td>
            <td>
                <form th:action="@{/addtocart}" method="post">
                    <input type="hidden" name="productId" th:value="${p.getId()}">
                    <input type="hidden" name="productName" th:value="${p.getName()}">
                    <input type="hidden" name="productPrice" th:value="${p.getPrice()}">
                    <input type="hidden" name="productQuantity" th:value="${quantity}">
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Logout Button - Behöver placeras bättre!-->
<div class="logout-button">
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

</body>
</html>